@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'tailwindcss';

@theme {
  --font-sans: 'Poppins', sans-serif;

  --color-brand-green: #00d632;
  --color-brand-olive: #5a5a40;
  --color-brand-brown: #7a351d;
  --color-brand-cream: #fdfbf9;
  --color-brand-sand: #e6e2d3;

  /* --breakpoint-*: initial;
  --breakpoint-tablet: 40rem;
  --breakpoint-laptop: 64rem;
  --breakpoint-desktop: 80rem; */
  /* ... */
}

@layer base {
  body {
    @apply bg-brand-cream text-neutral-900 font-sans antialiased leading-relaxed text-base;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-sans;
  }
}

.markdown-body {
  @apply max-w-none;
}
